.product-card {
  padding: 13px;
  border-radius: 8.291px;
  border: 1.083px solid #fff;
  background: #fff;
  width: 199px;
  height: 341px;
}
.product-desc {
  max-width: 175px;
  height: 55px;
  color: var(--Greyscale-Black-90, #1a1919);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.product-kit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: #3286c2;
  font-size: 12.437px;
  font-weight: 400;
  padding: 6px 0 7px;
}
.product-stock {
  color: var(--green, #82cf6f);
  font-size: 12.437px;
  font-weight: 500;
}
.product-price {
  color: #000;
  font-size: 19px;
  font-weight: 700;
  padding: 7px 0 2px;
}
.quantity-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-counter p {
  color: #000;
  text-align: center;
  font-size: 14.924px;
  font-weight: 500;
  width: 25px;
  height: 13px;
  flex-shrink: 0;
}
.quantity-counter-btn {
  padding: 3px 3px 0;
  flex-shrink: 0;
  border: none;
  border-radius: 82.912px;
  background: #f5f5f5;
}
.quantity-counter-btn:hover {
  background: #3286c3;
}
.quantity-counter-btn:hover img {
  filter: invert(100%); /* Инвертируем цвет при наведении */
}

.like-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3.709px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Transparent-white, rgba(255, 255, 255, 0.5));
}
.product-image {
  position: relative;
}
